html,body{height: 100%;}
body{margin: 0;font-family: Roboto, "Helvetica Neue",sans-serif;}

.mat-form-field-appearance-outline .mat-form-field-can-float .mat-form-field-should-float, .mat-form-field{
  transform: translateY(-0.8em)scale(0.75);
  width: 133.333333333%;
}

.mat-form-field-appearance-outline .mat-form-field-can-float .mat-form-field-should-float .mat-form-field-outline-gap{
  border-top-color: currentColor !important;
}


.app-background {
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(101, 97, 97, 0.4), rgba(44, 43, 43, 0.4));
  background-size: 200% 200%;
  position: relative;
}
.app-background::before{
  min-height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  background: inherit;
  filter: blur(10px);
  pointer-events: none;
}





