/* You can add global styles to this file, and also import other style files */

html,body{height: 100%;}
body{margin: 0;font-family: Roboto, "Helvetica Neue",sans-serif;}

.mat-form-field-appearance-outline .mat-form-field-can-float .mat-form-field-should-float, .mat-form-field{
  transform: translateY(-0.8em)scale(0.75);
  width: 133.333333333%;
}

.mat-form-field-appearance-outline .mat-form-field-can-float .mat-form-field-should-float .mat-form-field-outline-gap{
  border-top-color: currentColor !important;
}
.app-background {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(65deg, #358177 0%, #40d0d5 100%);
  background-size: 200% 200%;
  animation: Gradient 2s ease infinite;

}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

